			<!-- SITE CONTENT
=========================================================================== -->
<div id="site-content">
    <div id="main">
        
        <section class="breadcrumbs">
<div class="container">
<ul class="breadcrumbss">					
<li class="home">
    <a  href="/" ><span >Trang chủ</span></a>						
    <span class="xo">/</span>
</li>


<li><strong ><span>Tin tức</span></strong></li>


</ul>
</div>
</section>
        
        <section class="mtb25">
<div class="container">
<div class="row">
<div class="megamenu-right col-md-9 col-md-push-3">
    <div class="row">					
        <section class="section-blog">
            <div class="section-blog-title">							
                <h1 class="section-blog-title-heading">Tin tức</h1>
            </div>
            
            
            
            <div class="blog-item">
                <div class="col-md-5">
                    <div class="blog-img">
                        
                        <a href="/cach-chon-quan-the-thao-cho-nam">
                            <img class="lazyload" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/048/137/articles/nk-2015-new-men-brand-jogging-tracksuit-set-long-sleeve-100-cotton-font-b-jackets-b.jpg?v=1452238184523" title="Cách Chọn Quần Thể Thao Cho Nam" alt="Cách Chọn Quần Thể Thao Cho Nam">
                        </a>
                        
                    </div>
                </div>
                <div class="col-md-7">
                    <p class="blog-info"><i class="fa fa-pencil-square-o"></i> Avent Team <i class="fa fa-comment-o"></i> 7 Bình luận</p>
                    <h3 class="blog-name"><a href="/cach-chon-quan-the-thao-cho-nam" title="Cách Chọn Quần Thể Thao Cho Nam">Cách Chọn Quần Thể Thao Cho Nam</a></h3>
                    <p class="blog-description">
                         Trang phục thể thao muôn màu muôn vẻ và có những trang phục thích hợp với những bộ môn khác nhau. Khó nhất là quần, vậy bạn đã biết cách chọn quần thể thao cho nam ? Như các bạn đã biết, nhu cầu tập luyện thể thao đối với mọi người ngày càng phát triển và có sức ảnh hưởng nhất định. 
Vì thế việc trang bị...
                    </p>
                </div>
            </div>
            <!--End. blog-item-->
            
            <div class="blog-item">
                <div class="col-md-5">
                    <div class="blog-img">
                        
                        <a href="/tu-van-chon-may-chay-bo-tai-nha">
                            <img class="lazyload" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/048/137/articles/may-chay-bo-dung-cach.jpg?v=1452237436157" title="Tư vấn chọn máy chạy bộ tại nhà" alt="Tư vấn chọn máy chạy bộ tại nhà">
                        </a>
                        
                    </div>
                </div>
                <div class="col-md-7">
                    <p class="blog-info"><i class="fa fa-pencil-square-o"></i> Nguyen Manh Tung <i class="fa fa-comment-o"></i> 1 Bình luận</p>
                    <h3 class="blog-name"><a href="/tu-van-chon-may-chay-bo-tai-nha" title="Tư vấn chọn máy chạy bộ tại nhà">Tư vấn chọn máy chạy bộ tại nhà</a></h3>
                    <p class="blog-description">
                         Lựa chọn máy chạy bộ tại nhà tốt dựa vào tiêu chí nào? Tỉ lệ người sử dụng máy chạy bộ tại nhà để tập luyện thể dục chạy bộ hay một bài tập nào đó trên dòng máy tập này là rất nhiều. Điều đó cũng đã thúc đẩy được các nàh sản xuất không ngừng cải tiến sản phẩm máy tập chạy bộ của mình nhằm đáp...
                    </p>
                </div>
            </div>
            <!--End. blog-item-->
            
            <div class="blog-item">
                <div class="col-md-5">
                    <div class="blog-img">
                        
                        <a href="/co-che-bai-tap-bung-voi-xe-dap-tap-the-duc">
                            <img class="lazyload" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/048/137/articles/xe-dap-tap-the-duc.jpg?v=1452236261913" title="Cơ chế tập bụng với xe đạp tập thể dục" alt="Cơ chế tập bụng với xe đạp tập thể dục">
                        </a>
                        
                    </div>
                </div>
                <div class="col-md-7">
                    <p class="blog-info"><i class="fa fa-pencil-square-o"></i> Nguyen Manh Tung <i class="fa fa-comment-o"></i> 0 Bình luận</p>
                    <h3 class="blog-name"><a href="/co-che-bai-tap-bung-voi-xe-dap-tap-the-duc" title="Cơ chế tập bụng với xe đạp tập thể dục">Cơ chế tập bụng với xe đạp tập thể dục</a></h3>
                    <p class="blog-description">
                         Xe đạp là môn thể thao mang lại nhiều lợi ích cho con người, đặc biệt là với người già và người muốn giảm cân. Bạn vẫn thấy những người sử dụng xe đạp là phương tiện đi lại hàng ngày thường có một vóc dáng rất gọn gàng. Bạn có muốn được như vậy??? 

Có thể công việc của bạn không thể sử dụng phương tiện xe...
                    </p>
                </div>
            </div>
            <!--End. blog-item-->
            
            <div class="blog-item">
                <div class="col-md-5">
                    <div class="blog-img">
                        
                        <a href="/giam-mo-bung-nhanh-chong-don-gian-nhat">
                            <img class="lazyload" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/048/137/articles/4-dieu-can-luu-y-truoc-khi-su-dung-may-chay-bo-dien-gia-dinh-19523-1024x1024.jpg?v=1452235788957" title="Giảm mỡ bụng nhanh chóng  nhất" alt="Giảm mỡ bụng nhanh chóng  nhất">
                        </a>
                        
                    </div>
                </div>
                <div class="col-md-7">
                    <p class="blog-info"><i class="fa fa-pencil-square-o"></i> Nguyen Manh Tung <i class="fa fa-comment-o"></i> 0 Bình luận</p>
                    <h3 class="blog-name"><a href="/giam-mo-bung-nhanh-chong-don-gian-nhat" title="Giảm mỡ bụng nhanh chóng  nhất">Giảm mỡ bụng nhanh chóng  nhất</a></h3>
                    <p class="blog-description">
                         Cách giảm mỡ bụng nhanh chóng luôn là mối quan tâm hàng đầu của rất nhiều người, đặc biệt là chị em phụ nữ. Tình trạng mỡ thừa ở vùng bụng thực sự khiến chị em mất tự tin và vẻ quyến rũ, lôi cuốn của chính mình. Bài viết dưới đây sẽ bật mí cho bạn cách giảm mỡ bụng nhanh, hiệu quả nhất hiện nay. 

1....
                    </p>
                </div>
            </div>
            <!--End. blog-item-->
            


            
            <div class="col-xs-12">
<div class="filter-right">
<div class="pull-left">
</div>

<div class="collection-pagination pull-right pagination-wrapper">
<span class="mr15">Trang:</span>


<nav class="style-nav">
    <ul class="pagination clearfix">
          
        <li class="page-item disabled"><a class="page-link" href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
        

        
        
        
        <li class="active page-item disabled"><a class="page-link" href="#">1</a></li>
        
        
        
        
        <li class="page-item"><a class="page-link" href="/tin-tuc?page=2">2</a></li>
        
        

        
        <li class="page-item"><a class="page-link" href="/tin-tuc?page=2"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
        
    </ul>
</nav>


</div>

</div>
</div>
                            
                
        </section>
    </div>

</div>
<div class="megamenu-left col-md-3 col-md-pull-9">

<div class="cd-dropdown-wrapper">
<nav class="cd-dropdown dropdown-is-active list_menu hidden-xs hidden-sm">
<div class="dropdown-content-title"><h2>DANH MỤC SẢN PHẨM</h2></div>

<ul class="ul_menu">
    
    
    <li class="nav_item lv1">
        <a href="/" title="Trang chủ">Trang chủ</a>
    </li>
    
    
    
    <li class="nav_item lv1">
        <a href="/gioi-thieu" title="Giới thiệu">Giới thiệu</a>
    </li>
    
    
    
    <li class="nav_item lv1">
        <a href="/collections/all" title="Sản phẩm">Sản phẩm<i class="fa fa-angle-right"></i></a>

        <ul class="ul_content_right_1">
            
            
            <li class="nav_item lv2"><a href="/frontpage" title="Sản phẩm  mới về">Sản phẩm  mới về</a></li>
            
            
            
            <li class="nav_item lv2"><a href="/san-pham-khuyen-mai" title="Sản phẩm khuyến mãi">Sản phẩm khuyến mãi</a></li>
            
            
            
            <li class="nav_item lv2"><a href="/san-pham-noi-bat" title="Sản phẩm nổi bật">Sản phẩm nổi bật</a></li>
            
            
            
            <li class="nav_item lv2"><a href="/giay-the-thao-nam-1" title="Giầy thể thao nam">Giầy thể thao nam</a></li>
            
            
            
            <li class="nav_item lv2"><a href="/giay-the-thao-nu" title="Giầy thể thao nữ">Giầy thể thao nữ</a></li>
            
            
            
            <li class="nav_item lv2"><a href="/quan-ao-nu" title="Quần áo nam nữ">Quần áo nam nữ</a></li>
            
            
            
            <li class="nav_item lv2"><a href="/yoga" title="Dụng cụ Yoga">Dụng cụ Yoga</a></li>
            
            
            
            <li class="nav_item lv2"><a href="/mon-tap-luyen-ca-nhan" title="Tập luyện cá nhân">Tập luyện cá nhân</a></li>
            
            
            
            <li class="nav_item lv2"><a href="/tui-the-thao" title="Dụng cụ thể thao">Dụng cụ thể thao</a></li>
            
            
        </ul>
    </li>
    
    
    
    <li class="nav_item lv1">
        <a href="/tin-tuc" title="Tin tức">Tin tức</a>
    </li>
    
    
    
    <li class="nav_item lv1">
        <a href="/lien-he" title="Liên hệ">Liên hệ</a>
    </li>
    
    
</ul>
</nav>
<nav class="nav-category cd-dropdown dropdown-is-active list_menu hidden-md hidden-lg">
<div class="dropdown-content-title"><h2>DANH MỤC SẢN PHẨM</h2></div>	
<ul class="ul_menu">
    
    
    <li class="nav_item lv1">
        <a href="/" title="Trang chủ">Trang chủ</a>
    </li>
    
    
    
    <li class="nav_item lv1">
        <a href="/gioi-thieu" title="Giới thiệu">Giới thiệu</a>
    </li>
    
    
    
    <li class="nav_item lv1">
        <a href="/collections/all" title="Sản phẩm">Sản phẩm
        </a>
        <i class="fa fa-angle-right"></i>
        <ul class="ul_content_right_1"  style="display:none;">
            
            
            <li class="nav_item lv2"><a href="/frontpage" title="Sản phẩm  mới về">Sản phẩm  mới về</a></li>
            
            
            
            <li class="nav_item lv2"><a href="/san-pham-khuyen-mai" title="Sản phẩm khuyến mãi">Sản phẩm khuyến mãi</a></li>
            
            
            
            <li class="nav_item lv2"><a href="/san-pham-noi-bat" title="Sản phẩm nổi bật">Sản phẩm nổi bật</a></li>
            
            
            
            <li class="nav_item lv2"><a href="/giay-the-thao-nam-1" title="Giầy thể thao nam">Giầy thể thao nam</a></li>
            
            
            
            <li class="nav_item lv2"><a href="/giay-the-thao-nu" title="Giầy thể thao nữ">Giầy thể thao nữ</a></li>
            
            
            
            <li class="nav_item lv2"><a href="/quan-ao-nu" title="Quần áo nam nữ">Quần áo nam nữ</a></li>
            
            
            
            <li class="nav_item lv2"><a href="/yoga" title="Dụng cụ Yoga">Dụng cụ Yoga</a></li>
            
            
            
            <li class="nav_item lv2"><a href="/mon-tap-luyen-ca-nhan" title="Tập luyện cá nhân">Tập luyện cá nhân</a></li>
            
            
            
            <li class="nav_item lv2"><a href="/tui-the-thao" title="Dụng cụ thể thao">Dụng cụ thể thao</a></li>
            
            
        </ul>
    </li>
    
    
    
    <li class="nav_item lv1">
        <a href="/tin-tuc" title="Tin tức">Tin tức</a>
    </li>
    
    
    
    <li class="nav_item lv1">
        <a href="/lien-he" title="Liên hệ">Liên hệ</a>
    </li>
    
    
</ul>
</nav>
</div>






<div class="widget-sidebar-item">
<h2 class="widget-sidebar-name" title="Blog Tag">Blog Tag</h2>
<ul class="widget-sidebar-list blog_tags">


<li><a href="/blogs/all/tagged/quan-ao">quần áo</a></li>

</ul>
</div>



<div class="widget-sidebar-item">
<h2 class="widget-sidebar-name">Video</h2>
<div class="video-container">
<iframe src="https://www.youtube.com/embed/sH9XAoOuCSw" frameborder="0" allowfullscreen></iframe>
</div>
</div>


<div id="bw-statistics"></div>
</div>
<script>

$(window).bind('load resize scroll', function () {
var wDH = $(window).height();
var heightSetmenu = $('.list_menu').height();
$('.ul_content_right_1, .ul_content_right_2').css('min-height', heightSetmenu);
});

</script>
</div>
</div>
</section>
    </div>
</div>
<!-- /SITE CONTENT -->