<div id="site-content">
    <div id="main">
        
        <section class="breadcrumbs">
<div class="container">
<ul class="breadcrumbss">					
<li class="home">
    <a  href="/" ><span >Trang chủ</span></a>						
    <span class="xo">/</span>
</li>

<li><strong ><span>Trang khách hàng</span></strong></li>

</ul>
</div>
</section>
        
        <div id="content">

<section class="signup page_customer_account margin-top-20">
<div class="container">
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-main-acount">
        <div id="parent" class="row">
            <div id="a" class="col-xs-12 col-sm-12 col-lg-9 col-left-account">
                <div class="page-title m992">
                    <h1 class="title-head"><a href="#">Thông tin tài khoản</a></h1>
                </div>
                <div class="form-signup name-account m992"> 
                    <p><strong>Xin chào, <a href="/account/addresses" style="color:#ffe51e;">trịnh năng</a>&nbsp;!</strong></p>
                </div>
                <div class="col-xs-12 col-sm-12 col-lg-12 no-padding">
                    <div class="my-account">
                        <div class="dashboard">
                            
                            <div class="recent-orders">
                                <div class="table-responsive tab-all"style="overflow-x:auto;">
                                    <table class="table table-cart" id="my-orders-table">
                                        <thead class="thead-default">
                                            <tr>
                                                <th>Đơn hàng</th>
                                                <th>Ngày</th>
                                                <th>Chuyển đến</th>
                                                <th>Địa chỉ</th>
                                                <th>Giá trị đơn hàng</th>
                                                <th>Tình trạng thanh toán</th>
                                                <th>Mã đơn hàng</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            
                                            
                                            <tr class="first odd">
                                                <td><a style="color:#ffe51e;" href="/account/orders/7521050">Chi tiết</a></td>
                                                <td>06/ 09/ 2020</td>
                                                <td> trịnh năng</td>
                                                <td> 
                                                    Hà Nội 
                                                </td>
                                                <td><span class="price">380.000₫</span></td>
                                                <td>  
                                                        
                                                        
                                                    Chưa thanh toán          
                                                                     
                                                    
                                                </td>
                                                <td class="a-center last"><span class="nobr"> <a style="color:#ffe51e;" href="/account/orders/7521050">#1010</a></span></td>
                                            </tr>
                                            
                                            
                                            
                                            <tr class="first odd">
                                                <td><a style="color:#ffe51e;" href="/account/orders/7516463">Chi tiết</a></td>
                                                <td>04/ 09/ 2020</td>
                                                <td> trịnh năng</td>
                                                <td> 
                                                    Hà Nội 
                                                </td>
                                                <td><span class="price">1.340.000₫</span></td>
                                                <td>  
                                                        
                                                        
                                                    Chưa thanh toán          
                                                                     
                                                    
                                                </td>
                                                <td class="a-center last"><span class="nobr"> <a style="color:#ffe51e;" href="/account/orders/7516463">#1009</a></span></td>
                                            </tr>
                                            
                                            
                                        </tbody>


                                    </table>

                                </div>

                                <div class="text-xs-right">

                                </div>
                            </div>
                            <div class="paginate-pages pull-right page-account">
                                <div class="col-xs-12" style="padding:0px;">
<div class="filter-right">
<div class="pull-left">
</div>

<div class="collection-pagination pull-right pagination-wrapper">
<span class="mr15">Trang:</span>


<nav class="style-nav">
    <ul class="pagination clearfix">
          
        <li class="page-item disabled"><a class="page-link" href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
        

        
        
        
        <li class="active page-item disabled"><a class="page-link" href="#">1</a></li>
        
        
        

        
        <li class="page-item disabled"><a class="page-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
        
    </ul>
</nav>


</div>

</div>
</div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div id="b" class="col-xs-12 col-sm-12 col-lg-3 col-right-account">
                <div class="page-title mx991">
                    <h1 class="title-head" style="font-size:32px;"><a href="#">Thông tin tài khoản</a></h1>
                </div>
                <div class="form-signup body_right mx991"> 
                    <p><strong>Xin chào, <a href="/account/addresses" style="color:#ffe51e;">trịnh năng</a>&nbsp;!</strong></p>
                </div>
                <div class="block-account">
                    <div class="block-title-account"><h5>Tài khoản của tôi</h5></div>
                    <div class="block-content form-signup">
                        <p>Tên tài khoản: <strong style="line-height: 20px;"> trịnh năng!</strong></p>
                        <p><i class="fa fa-home font-some" aria-hidden="true"></i>  <span>Địa chỉ: Hà Nội</span></p>
                        <p><i class="fa fa-mobile font-some" aria-hidden="true"></i> <span>Điện thoại: 0378679210</span> </p>
                        <p><i class="fa fa-map-marker font-some" aria-hidden="true"></i> <span> Địa chỉ 1: xóm tròn tốt động chương mỹ hà nội</span></p>
                        <p><i class="fa fa-yelp font-some" aria-hidden="true"></i> <span> Công ty: </span></p>
                        <p><i class="fa fa-plane font-some" aria-hidden="true"></i> <span> Quốc gia :Vietnam</span></p> 
                        <p><i class="fa fa-code font-some" aria-hidden="true"></i> <span> Zip code: </span></p>
                        <p style="margin-top:20px;"><a href="/web/diachi" class="btn btn-bg full-width btn-lg btn-style article-readmore">Sổ địa chỉ 1</a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
</section>
</div>
    </div>
</div>
<!-- /SITE CONTENT -->