			<!-- SITE CONTENT
=========================================================================== -->
<div id="site-content">
    <div id="main">
        
        <section class="breadcrumbs">
<div class="container">
<ul class="breadcrumbss">					
<li class="home">
    <a  routerLink="/web/home" ><span >Trang chủ</span></a>						
    <span class="xo">/</span>
</li>

<li><strong ><span>Liên hệ</span></strong></li>

</ul>
</div>
</section>
        
        <h1 style="display:none;">Sport</h1>
<div class="ggmap" id="ggmap">
<div class="google-map">       
<div class="maps_iframe">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.912118312122!2d105.81368921440725!3d21.036202085994336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab12f62fd79f%3A0x7a34e9dcf1a11eb6!2zVOG6p25nIDE2LCAyNjYgxJDhu5lpIEPhuqVuLCBMaeG7hXUgR2lhaSwgQmEgxJDDrG5oLCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1547541809419" width="600" height="400" style="border:0" allowfullscreen></iframe>
</div>        
</div>

</div>
<section class="section-contact">
<div class="container">
<div class="row">
<div class="col-md-4 col-md-push-8">
    <div class="widget-item">
        <a href="#" class="contact-logo"><img src="/../assets/images/logo1.jpg" width="200" alt=""></a>
        <ul class="widget-menu">
            <li class="widget-address"><span>Sport thành lập năm 2020 bởi nhóm fpt Là tập đoàn bán lẻ hàng đầu Châu Á. Có mặt trên 20 quốc gia ...</span></li>
            <li class="widget-address"><i class="fa fa-map-marker"></i><span class="text-footer-add">Tốt Động, Chương Mỹ, Hà Nội</span></li>
            <li><i class="fa fa-phone"></i><span><a href="tel:0378679210">0378.679.210</a></span></li>
            <li><i class="fa fa-envelope"></i><span><a href="mailto:banangkt2000@gmail.com">banangkt2000@gmail.com</a></span></li>
        </ul>
        <!-- End .widget-menu -->
        <!--   -->
        <ul class="menu-contact">
            <!--  -->
            <li><a href="http://www.facebook.com/#" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <!--  -->
            <!--   -->
            <li><a href="https://plus.google.com/#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
            <!--  -->
            <!--    -->
            <li><a href="https://twitter.com/#" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <!--  -->
            <!--  -->
            <li><a href="http://www.youtube.com/#" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
            <!--  -->
        </ul>
        <!--   -->
    </div>
    <!-- End .widget-item -->
</div>
<div class="col-md-8 col-md-pull-4">
    <div class="section-article contactpage">
        <form accept-charset="utf-8" action="/contact" id="contact" method="post">
<input name="FormType" type="hidden" value="contact" />
<input name="utf8" type="hidden" value="true" /><input type="hidden" id="Token-1efb32398d894c6892071209f47f0e60" name="Token" /><script src="https://www.google.com/recaptcha/api.js?render=6Ldtu4IUAAAAAMQzG1gCw3wFlx_GytlZyLrXcsuK"></script>
<script>
grecaptcha.ready(function() {
grecaptcha.execute("6Ldtu4IUAAAAAMQzG1gCw3wFlx_GytlZyLrXcsuK", {action: "/contact"})
.then(function(token) {
document.getElementById("Token-1efb32398d894c6892071209f47f0e60").value = token
});
});
</script>

        <!--form-errors-custom-->
        
        <div class="notification_contact"><p>Gửi liên hệ thành công!</p></div>
        <!--End. form-errors-custom-->


        <div class="form-inline form-comment">
            <div class="form-group">
                <label for="name">Họ tên<span id="required">*</span></label>
                <input id="name" name="contact[Name]" type="text" value="" class="form-control">
            </div>
            <div class="form-group">
                <label for="email">Email<span id="required">*</span></label>
                <input id="email" name="contact[email]" class="form-control" type="email" value="" required>
            </div>

            <div class="form-group">
                <label for="message">Lời nhắn<span id="required">*</span></label>
                <textarea id="message" name="contact[Body]" class="form-control custom-control" rows="3" required></textarea>
            </div>
            <button type="submit" id="submitlienhe" class="btn btn-default">Gửi nhận xét</button>
        </div>
        </form>
    </div>
</div>
</div>
</div>
</section>
    </div>
</div>
<!-- /SITE CONTENT -->
