<nav aria-label="breadcrumb">
	<ol class="breadcrumb my-breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/admin">Admin</a></li>
    <li class="breadcrumb-item"><a routerLink="/admin/danhsachadmin">Danh Sách Admin</a></li>
		<li class="breadcrumb-item active" aria-current="page">sửa Thành Viên</li>
	</ol>
</nav>
<br>
<form #addForm="">
    <div class="form-group">
      <label for="">Tên Tài Khoản</label>
      <input type="text" class="form-control" name="name"  #addname="" placeholder="Nhập Tài Khoản">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Mật Khẩu</label>
        <input type="text" class="form-control" name="password" id="exampleInputPassword1"  #addPrice="" placeholder="Nhập Mật Khẩu">
      </div>

    <button type="button" class="btn btn-primary"   >Thêm</button>
  </form>