<div class="m-content">

    <div class="row">
        <div class="col-md-12">
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Thống kê doanh thu bán hàng
                            </h3>
                        </div>
                    </div>

                </div>
                <div class="m-portlet__body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Danh mục hàng</th>
                                <th scope="col">Số giày</th>
                                <th scope="col">Trị giá</th>
                                <th scope="col">Đã bán</th>
                                <th scope="col">Tiền bán</th>
                                <th scope="col">Doanh thu tháng</th>
                                <th scope="col">Doanh thu năm</th>
                                <th scope="col">Tổng doanh thu</th>
                            </tr>
                        </thead>
                        <tbody style=" background-color: #e0ebf9;font-weight: bold">
                            <tr>
                                <th scope="col">Sản Phẩm mới</th>
                                <th scope="col">5</th>
                                <th scope="col">5,000,000</th>
                                <th scope="col">4</th>
                                <th scope="col">4,000,000</th>
                                <th scope="col">4,000,000</th>
                                <th scope="col">4,000,000</th>
                                <th scope="col">4,000,000</th>
                            </tr>
                            <tr>
                                <th scope="col">Sản Phẩm khuyến mãi</th>
                                <th scope="col">5</th>
                                <th scope="col">5,000,000</th>
                                <th scope="col">4</th>
                                <th scope="col">4,000,000</th>
                                <th scope="col">4,000,000</th>
                                <th scope="col">4,000,000</th>
                                <th scope="col">4,000,000</th>
                            </tr>
                            <tr>
                                <th scope="col">Sản Phẩm nổi bật</th>
                                <th scope="col">5</th>
                                <th scope="col">5,000,000</th>
                                <th scope="col">4</th>
                                <th scope="col">4,000,000</th>
                                <th scope="col">4,000,000</th>
                                <th scope="col">4,000,000</th>
                                <th scope="col">4,000,000</th>
                            </tr>
                            <tr style=" background-color: #661313;font-weight: bold">
                                <th scope="col">Tổng tất cả</th>
                                <th scope="col">5</th>
                                <th scope="col">15,000,000</th>
                                <th scope="col">4</th>
                                <th scope="col">12,000,000</th>
                                <th scope="col">12,000,000</th>
                                <th scope="col">12,000,000</th>
                                <th scope="col">12,000,000</th>
                            </tr>

                        </tbody>
                    </table>

                </div>