<nav aria-label="breadcrumb">
	<ol class="breadcrumb my-breadcrumb">
		<li class="breadcrumb-item"><a routerLink="/admin">Admin</a></li>
		<li class="breadcrumb-item active" aria-current="page">Danh Sách Sản Phẩm</li>
	</ol>
</nav>

<div class="accordions">
	<div class="row">
		<!-- accordion style 1 -->
		<div class="col-lg-12 mb-4">
			<div class="card card_border">
				<div class="card-header chart-grid__header d-flex mb-3 pt-5 justify-content-between">
					Danh Sách Sản Phẩm
					<button routerLink="/admin/themsanpham" class="btn btn-primary">Thêm Sản Phẩm</button>
				</div>
<div class="m-portlet__body">
	<div class="m-form m-form--fit">
		<div class="row m--margin-bottom-20">
	
			<div class="col-lg-3 m--margin-bottom-10-tablet-and-mobile">
				<div class="input-group">
					<div class="input-group-prepend"><span class="input-group-text"><i class="la  la-user "></i></span></div>
					<input type="text" name="id_item"  id="id_item" value="" class="form-control m-input" placeholder="Tìm kiếm...">
				</div>
			</div>
	
		</div>

		<div class="row m--margin-bottom-20">
			<div class="col-lg-3 m--margin-bottom-10-tablet-and-mobile">
				<div class="input-group date">
					<div class="input-group-append">
						<span class="input-group-text"><i class="la la-calendar-check-o glyphicon-th"></i></span>
					</div>
					
					
					
					
					
	
					<select id="status" class="form-control m-input m-input--air" name="status">
						<option value="" selected="selected">-- Tất cả trạng thái --</option>
						<option value="1">Đang bán</option>
						<option value="0">Đã xóa</option>
					</select>
				</div>
			</div>
			<div class="col-lg-3 m--margin-bottom-10-tablet-and-mobile">
				<div class="input-group date">
					<div class="input-group-append">
						<span class="input-group-text"><i class="la la-calendar-check-o glyphicon-th"></i></span>
					</div>
					<select id="group_id" name="group" class="form-control">
						<option value="">-- Tất cả danh mục --</option>
						<option value='786'> Sản Phẩm Mới</option>
						<option value='785'> Sản Phẩm Khuyến Mãi</option>
						<option value='853'> Sản Phẩm Nổi Bật</option>
					</select>
				</div>
			</div>
	
	
			<div class="col-lg-3 m--margin-bottom-10-tablet-and-mobile">
				<div class="input-group date">
					<div class="input-group-append">
						<span class="input-group-text"><i class="la la-calendar-check-o glyphicon-th"></i></span>
					</div>
					<select id="group_id" name="group" class="form-control">
						<option value="">-- Hãng Giày --</option>
						<option value='786'>ADIDAS</option>
						<option value='786'>NIKE</option>
						<option value='785'>GUCCI</option>
						<option value='853'>VANS</option>
					</select>
				</div>
			</div>

			<div class="col-lg-3 m--margin-bottom-10-tablet-and-mobile">
				<form>
					<div class="form-group">
					  <div class="input-group">
						<button class="input-group-text" (click)="dp.toggle()" type="button"></button>
						<input id="dateOfBirth" class="form-control" placeholder="Nhập Ngày Tạo" name="dp" ngbDatepicker #dp="ngbDatepicker">
						<div class="input-group-append">
						</div>
					  </div>
					</div>
				  </form>
			</div>

		</div>
	</div>
</div>
				<div class="card-body">
					<div class="accordion" id="accordionExample">
						<div class="card">
							<table class="table table-hover table-dark">

								<thead>
									<tr>
										<th scope="col">ID</th>
										<th scope="col">Tên Sản Phẩm</th>
										<th scope="col">Giá bán</th>
										<th scope="col">Hình Ảnh</th>
										<th scope="col">Danh Mục</th>
										<th scope="col">Hãng Giày</th>
										<th scope="col">Ngày Tạo</th>
										<th scope="col">Trạng Thái</th>
										<th scope="col">thao Tác</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th scope="col">1</th>
										<th scope="col">mặt hàng 1</th>
										<th scope="col">100000đ</th>
										<th scope="col">chưa có</th>
										<th scope="col">sản phẩm bán chạy</th>
										<th scope="col">Nike</th>
										<th scope="col">2020-09-09</th>
										<th scope="col">Đang Bán</th>
										<th width="150" class="text-right">
											<button class="btn btn-primary" routerLink="/admin/suasanpham">Sửa</button>
											<button  class="btn btn-danger ml-2">Xóa</button>
										</th>
									</tr>
									<!-- <tr *ngFor="let product of products | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
										<th scope="row">{{product.id}}</th>
										<td><a routerLink="/shop/detail/{{product.id}}">{{product.name}}</a></td>
										<td>{{product.price}}</td>
										<td width="200" class="text-right">
											<button class="btn btn-primary"
												routerLink="/admin/edit/{{product.id}}">Edit</button>
											<button (click)="removeItem(product.id)" class="btn btn-danger ml-2">Remove</button>
										</td>
									</tr> -->

								</tbody>
							</table>

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- //accordion style 1 -->
	</div>
</div>
<!-- <div class="paging">
	<ngb-pagination style="margin-left: 300px;"
[(page)]="page"
[pageSize]="pageSize"
[collectionSize]="products.length">
</ngb-pagination>
</div> -->

