

                        <div class="widget-sidebar-item product">
                            <a href="/san-pham-noi-bat" title="Sản phẩm nổi bật">
                                <h2 class="widget-sidebar-name">Sản phẩm nổi bật</h2>
                            </a>
                            <div class="product_item">
                                <div class="product_item_form" *ngFor="let product of products | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                                    <div class="product-action-grid">

                                        <a href="/giay-cau-long-kawa" data-handle="giay-cau-long-kawa"
                                            class="button_wh_40 btn_view right-to quick-view">
                                            <i class="icon-magnifier-add icons fa fa-eye"></i>
                                        </a>

                                    </div>
                                    <div class="product-gird">
                                        <div class="product-thumbnail display_flex">
                                            <a class="product-img" href="/giay-cau-long-kawa"
                                                title="Giày cầu lông Kawa">
                                                <img class="lazyload"
                                                    src="{{product.img}}"
                                                    data-src=""
                                                    alt="Giày cầu lông Kawa">
                                            </a>
                                        </div>
                                        <h3 class="product-name text2line"><a href="/giay-cau-long-kawa"
                                                title="Giày cầu lông Kawa">{{product.name}}</a></h3>
                                        <span class="product-price product-item-price price-box">
                                            <b class=" productminprice">
                                                <span class="price">${{product.price}}</span>
                                            </b>
                                        </span>
                                        <form action="/cart/add" method="post" class="variants form-nut-grid"
                                            data-id="product-actions-1168929" enctype="multipart/form-data">
                                            <div class="product-action-btn">
                                                <input type="hidden" name="variantId" value="1815313" />
                                                <button
                                                    class="product-action addtocart add_to_cart btn btn-lg btn-hai-40"
                                                    type="button" title="Thêm vào giỏ hàng">
                                                    <span class="icon-cart-style"><i class="fa fa-shopping-cart"
                                                            aria-hidden="true"></i></span> Mua hàng
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- End .product-gird -->
                                </div>
                            </div>
                        </div>


