<router-outlet></router-outlet>
<app-slide></app-slide>
<div class="home-banner">
    <div class="container">
        <div class="row ">
            <div class="col-xs-12">
                <div class="em-effect06 banner-item col-xs-12 col-sm-4 no-padding-lr">
                    <a class="em-eff06-03" title="banner 1" href="#3">
                        <img class="lazyload" src="/../assets/images/banner1.jpg" data-src="#" alt="banner 1">
                    </a>
                </div>
                <div class="em-effect06 banner-item col-xs-12 col-sm-4 no-padding-lr">
                    <a class="em-eff06-03" title="banner 2" href="#3">
                        <img class="lazyload" src="/../assets/images/banner2.jpg" data-src="#" alt="banner 2">
                    </a>
                </div>
                <div class="em-effect06 banner-item col-xs-12 col-sm-4 no-padding-lr">
                    <a class="em-eff06-03" title="banner 3" href="#3">
                        <img class="lazyload" src="/../assets/images/banner3.jpg" data-src="#" alt="banner 3">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End. Home-banner -->

<div id="site-content">
    <div id="main">

        <h1 style="display:none;">Sport</h1>






        <section class="mtb25">
            <div class="container">
                <div class="row">
                    <div class="megamenu-right col-md-9 col-md-push-3">
                        <div class="row">
                            <app-sanphammoi></app-sanphammoi>



                            <app-sanphamkhuyenmai></app-sanphamkhuyenmai>

                        </div>
                    </div>
                    <div class="megamenu-left col-md-3 col-md-pull-9">

                        <div class="cd-dropdown-wrapper">
                            <nav class="cd-dropdown dropdown-is-active list_menu hidden-xs hidden-sm">
                                <div class="dropdown-content-title">
                                    <h2>DANH MỤC SẢN PHẨM</h2>
                                </div>

                                <ul class="ul_menu">


                                    <li class="nav_item lv1">
                                        <a href="/" title="Trang chủ">Trang chủ</a>
                                    </li>



                                    <li class="nav_item lv1">
                                        <a href="/gioi-thieu" title="Giới thiệu">Giới thiệu</a>
                                    </li>



                                    <li class="nav_item lv1">
                                        <a href="/collections/all" title="Sản phẩm">Sản phẩm<i
                                                class="fa fa-angle-right"></i></a>

                                        <ul class="ul_content_right_1">


                                            <li class="nav_item lv2"><a href="/frontpage" title="Sản phẩm  mới về">Sản
                                                    phẩm mới về</a></li>



                                            <li class="nav_item lv2"><a href="/san-pham-khuyen-mai"
                                                    title="Sản phẩm khuyến mãi">Sản phẩm khuyến mãi</a></li>



                                            <li class="nav_item lv2"><a href="/san-pham-noi-bat"
                                                    title="Sản phẩm nổi bật">Sản phẩm nổi bật</a></li>



                                        </ul>
                                    </li>



                                    <li class="nav_item lv1">
                                        <a href="/tin-tuc" title="Tin tức">Tin tức</a>
                                    </li>



                                    <li class="nav_item lv1">
                                        <a href="/lien-he" title="Liên hệ">Liên hệ</a>
                                    </li>


                                </ul>
                            </nav>
                            <nav class="nav-category cd-dropdown dropdown-is-active list_menu hidden-md hidden-lg">
                                <div class="dropdown-content-title">
                                    <h2>DANH MỤC SẢN PHẨM</h2>
                                </div>
                                <ul class="ul_menu">


                                    <li class="nav_item lv1">
                                        <a href="/" title="Trang chủ">Trang chủ</a>
                                    </li>



                                    <li class="nav_item lv1">
                                        <a href="/gioi-thieu" title="Giới thiệu">Giới thiệu</a>
                                    </li>



                                    <li class="nav_item lv1">
                                        <a href="/collections/all" title="Sản phẩm">Sản phẩm
                                        </a>
                                        <i class="fa fa-angle-right"></i>
                                        <ul class="ul_content_right_1" style="display:none;">


                                            <li class="nav_item lv2"><a href="/frontpage" title="Sản phẩm  mới về">Sản
                                                    phẩm mới về</a></li>



                                            <li class="nav_item lv2"><a href="/san-pham-khuyen-mai"
                                                    title="Sản phẩm khuyến mãi">Sản phẩm khuyến mãi</a></li>



                                            <li class="nav_item lv2"><a href="/san-pham-noi-bat"
                                                    title="Sản phẩm nổi bật">Sản phẩm nổi bật</a></li>



                                            <li class="nav_item lv2"><a href="/giay-the-thao-nam-1"
                                                    title="Giầy thể thao nam">Giầy thể thao nam</a></li>



                                            <li class="nav_item lv2"><a href="/giay-the-thao-nu"
                                                    title="Giầy thể thao nữ">Giầy thể thao nữ</a></li>



                                            <li class="nav_item lv2"><a href="/quan-ao-nu" title="Quần áo nam nữ">Quần
                                                    áo nam nữ</a></li>



                                            <li class="nav_item lv2"><a href="/yoga" title="Dụng cụ Yoga">Dụng cụ
                                                    Yoga</a></li>



                                            <li class="nav_item lv2"><a href="/mon-tap-luyen-ca-nhan"
                                                    title="Tập luyện cá nhân">Tập luyện cá nhân</a></li>



                                            <li class="nav_item lv2"><a href="/tui-the-thao"
                                                    title="Dụng cụ thể thao">Dụng cụ thể thao</a></li>


                                        </ul>
                                    </li>



                                    <li class="nav_item lv1">
                                        <a href="/tin-tuc" title="Tin tức">Tin tức</a>
                                    </li>



                                    <li class="nav_item lv1">
                                        <a href="/lien-he" title="Liên hệ">Liên hệ</a>
                                    </li>


                                </ul>
                            </nav>
                        </div>





                        <div class="widget-sidebar-item filter">
                            <h2 class="widget-sidebar-name">BỘ LỌC SẢN PHẨM</h2>
                            <h4>Nhà sản xuất</h4>
                            <ul class="widget-sidebar-list">

                                <li><a href="/vendors?query=Adidas" title="Adidas">Adidas</a></li>

                                <li><a href="/vendors?query=Antsir" title="Antsir">Antsir</a></li>

                                <li><a href="/vendors?query=ARYCA" title="ARYCA">ARYCA</a></li>

                                <li><a href="/vendors?query=BAGUB" title="BAGUB">BAGUB</a></li>

                                <li><a href="/vendors?query=Climacool" title="Climacool">Climacool</a></li>

                                <li><a href="/vendors?query=Codad" title="Codad">Codad</a></li>

                                <li><a href="/vendors?query=JOOLA%20FALCON" title="JOOLA FALCON">JOOLA FALCON</a></li>

                                <li><a href="/vendors?query=Kathmandu" title="Kathmandu">Kathmandu</a></li>

                                <li><a href="/vendors?query=Kawa" title="Kawa">Kawa</a></li>

                                <li><a href="/vendors?query=KAWASAKI" title="KAWASAKI">KAWASAKI</a></li>

                            </ul>
                        </div>

                        <app-sanphamnoibat></app-sanphamnoibat>







                        <div id="bw-statistics"></div>
                    </div>
                    <script>

                        $(window).bind('load resize scroll', function () {
                            var wDH = $(window).height();
                            var heightSetmenu = $('.list_menu').height();
                            $('.ul_content_right_1, .ul_content_right_2').css('min-height', heightSetmenu);
                        });

                    </script>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- /SITE CONTENT -->