
		<footer id="footer" class="footer">
			<div class="widget">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="widget-item">
								<ul class="widget-menu">
									<li class="ylogo">
										<a href="/"><img src="/../assets/images/logo1.jpg" width="150" alt="Sport">
										</a>
									</li>
									<li class="location-title">Trụ sở:</li>
									<li class="widget-address">
										<i><img src="//bizweb.dktcdn.net/100/048/137/themes/740964/assets/location.png?1593416675274"
												alt="Sport"></i>
										<span>Tốt Động, Chương Mỹ, Hà Nội</span>
									</li>

									<li><i><img src="//bizweb.dktcdn.net/100/048/137/themes/740964/assets/phone1.png?1593416675274"
												alt="Sport"></i><span><a href="tel:0378679210">0378.679.210</a></span>
									</li>
									<li><i><img src="//bizweb.dktcdn.net/100/048/137/themes/740964/assets/mail.png?1593416675274"
												alt="Sport"></i><span><a
												href="mailto:banangkt2000@gmail.com">banangkt2000@gmail.com</a></span>
									</li>
								</ul>
								<!-- End .widget-menu -->
							</div>
							<!-- End .widget-item -->
						</div>
						<div class="col-md-2 col-sm-6">
							<div class="widget-item">
								<h4 class="widget-title">GIÀY ADIDAS </h4>
								<!-- End .widget-title -->
								<ul class="widget-menu">

									<li><a routerLink="/">Adidas EQT</a>
									</li>

									<li><a routerLink="/">Adidas Alpha Bounce</a>
									</li>

									<li><a routerLink="/">Adidas Yeezy</a>
									</li>

									<li><a routerLink="/">Adidas Ultra Boost </a>
									</li>

									<li><a routerLink="/">Adidas Stan Smith</a>
									</li>

								</ul>
								<!-- End .widget-menu -->
							</div>
							<!-- End .widget-item -->
						</div>
						<div class="col-md-2 col-sm-6">
							<div class="widget-item">
								<h4 class="widget-title">Giày Nike</h4>
								<!-- End .widget-title -->
								<ul class="widget-menu">

									<li><a routerLink="/">Nike Air Force</a>
									</li>

									<li><a routerLink="/">Nike Air Jordan</a>
									</li>

									<li><a routerLink="/">Nike Air Max 97</a>
									</li>

									<li><a routerLink="/">Nike Air Uptempo</a>
									</li>

									<li><a routerLink="/">Nike Zoom Pegasus</a>
									</li>

								</ul>
								<!-- End .widget-menu -->
							</div>
							<!-- End .widget-item -->
						</div>
						<div class="col-md-2 col-sm-6">
							<div class="widget-item">
								<h4 class="widget-title">GIÀY KHÁC</h4>
								<!-- End .widget-title -->
								<ul class="widget-menu">

									<li><a routerLink="/">Giày Balenciaga</a>
									</li>

									<li><a routerLink="/">Giày Mcqueen</a>
									</li>

									<li><a routerLink="/">Giày Dior</a>
									</li>

									<li><a routerLink="/">Giày MLB</a>
									</li>

									<li><a routerLink="/">Giày Converse</a>
									</li>

								</ul>
								<!-- End .widget-menu -->
							</div>
							<!-- End .widget-item -->
						</div>
						<div class="col-md-2 col-sm-6">
							<div class="widget-item">
								<h4 class="widget-title">MENU</h4>
								<!-- End .widget-title -->
								<ul class="widget-menu">

									<li><a routerLink="/">Trang chủ</a>
									</li>

									<li><a routerLink="/web/gioithieu">Giới thiệu</a>
									</li>

									<li><a routerLink="/web/sanpham">Sản phẩm</a>
									</li>

									<li><a routerLink="/web/tintuc">Tin tức</a>
									</li>

									<li><a routerLink="/web/lienhe">Liên hệ</a>
									</li>

								</ul>
								<!-- End .widget-menu -->
							</div>
							<!-- End .widget-item -->
						</div>
					</div>
				</div>
			</div>
			<!-- End .widget -->
			<div class="footer-bottom">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<span class="copyright">
								<span class="wsp"><span class="mobile">© Bản quyền thuộc về <b>FPT
											Polytechnic</b></span><span class="hidden-xs"> | </span><span
										class="mobile2">Cung cấp bởi
										<a href="https://ap.poly.edu.vn/" rel="nofollow" title="Sapo"
											target="_blank">FPT</a>
									</span></span>

							</span>

							<span class="a-foot"><img
									src="//bizweb.dktcdn.net/100/048/137/themes/740964/assets/pay-ments1.png?1593416675274"
									alt="thanh-toan" /></span>


							<span class="a-foot"><img
									src="//bizweb.dktcdn.net/100/048/137/themes/740964/assets/pay-ments2.png?1593416675274"
									alt="thanh-toan" /></span>


							<span class="a-foot"><img
									src="//bizweb.dktcdn.net/100/048/137/themes/740964/assets/pay-ments3.png?1593416675274"
									alt="thanh-toan" /></span>


							<span class="a-foot"><img
									src="//bizweb.dktcdn.net/100/048/137/themes/740964/assets/pay-ments4.png?1593416675274"
									alt="thanh-toan" /></span>

						</div>
					</div>
				</div>
			</div>
		</footer>