<!-- SITE CONTENT
=========================================================================== -->
<div id="site-content">
    <div id="main">

        <section class="breadcrumbs">
            <div class="container">
                <ul class="breadcrumbss">
                    <li class="home">
                        <a routerLink="/web/home"><span>Trang chủ</span></a>
                        <span class="xo">/</span>
                    </li>

                    <li><strong><span>Giỏ hàng</span></strong></li>

                </ul>
            </div>
        </section>
        <section class="mtb25 section-page" *ngIf="cartItems.length == 0">
            <div class="container">
                <h1>Giỏ hàng đang trống</h1>
                <div>
                    <div style="text-align: justify;line-height: 1.4">
                        <p>Hiện tại Giỏ hàng của bạn đang trống. Mời bạn quay trở lại <a routerLink="/web/home">cửa
                                hàng</a> để mua sắm </p>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br /><br /><br /><br /><br /><br /><br /><br /><br />
                    </div>
                </div>

            </div>
        </section>
        <div class="container" *ngIf="cartItems.length > 0">
            <table class="table table-bordered">
                <thead>
                    <tr style=" background-color: #000000">
                        <th scope="col">HÌNH ẢNH</th>
                        <th scope="col">THÔNG TIN SẢN PHẨM</th>
                        <th scope="col">ĐƠN GIÁ</th>
                        <th scope="col">SỐ LƯỢNG</th>
                        <th scope="col">THÀNH TIỀN</th>
                        <th scope="col">XÓA</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr *ngFor="let item of cartItems">
                        <th scope="row"><img
                            src="{{ cartItem.img }}">
                        </th>
                        <td>{{ cartItem.productName }}</td>
                        <td>{{cartItem.price}}</td>
                        <td>{{ cartItem.qty }}</td>
                        <td>{{ (cartItem.qty * cartItem.price)}}</td>
                        <td><button>xóa</button></td> -->
                    <!-- </tr> -->
                    <tr>
                        <td class="a-right last" colspan="50" style="padding: 15px; text-align: end;">
                            <button style="float:left;" routerLink="/web/home" name="checkout" class="button_height_44"
                                title="Tiếp tục mua hàng" type="button"><span>Tiếp tục mua hàng</span></button>
                            <button id="empty_cart_button" class="button_height_44" title="Clear Cart"
                                value="empty_cart" name="update_cart_action" type="button"><span><span>Xóa giỏ
                                        hàng</span></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>


            <div class="" style="text-align: center">
                <h2> Tổng Tiền Thanh Toán : 2.600.000đ</h2>
                
            </div>
            <ul class="checkout" style="margin-top:25px;">
                <li class="clearfix"><button class="button_height_45 f-right" title="Tiến hành đặt hàng"
                        type="button"><span>Thanh toán</span></button></li>
            </ul>
        </div>
    </div>
</div>
<!-- /SITE CONTENT -->