<div class="m-content">

    <div class="row">
        <div class="col-md-12">
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Danh sách giày đã bán
                            </h3>
                        </div>
                    </div>

                </div>
                <div class="m-portlet__body">

                    <form action="">
                        <div class="m-form m-form--fit">
                            <div class="row m--margin-bottom-20">

                                                                        <div class="col-lg-3 m--margin-bottom-10-tablet-and-mobile">
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="la  la-user "></i></span></div>
                                            <input type="text" name="username" value="" class="form-control m-input" placeholder="QTV">
                                        </div>
                                    </div>
                                
                                <div class="col-lg-3 m--margin-bottom-10-tablet-and-mobile">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="la  la-user "></i></span></div>
                                        <input type="text" name="id" value="" class="form-control m-input" placeholder="ID">
                                    </div>
                                </div>

                                <div class="col-lg-3 m--margin-bottom-10-tablet-and-mobile">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="la  la-user "></i></span></div>
                                        <input type="text" name="acc_name" value="" class="form-control m-input" placeholder="Tên tài khoản">
                                    </div>
                                </div>

                                                                        <div class="col-lg-3 m--margin-bottom-10-tablet-and-mobile">
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="la  la-user "></i></span></div>
                                            <input type="text" name="buyer" value="" class="form-control m-input" placeholder="Người mua">
                                        </div>
                                    </div>
                                

                            </div>
                            <div class="row m--margin-bottom-20">
                                <div class="col-lg-3 m--margin-bottom-10-tablet-and-mobile">
                                    <div class="input-group date">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="la la-calendar-check-o glyphicon-th"></i></span>
                                        </div>
                                        <select id="group_id" name="group_id" class="form-control">
                                            <option value="">-- Tất cả danh mục --</option>
                                            <option value='786'> Ngọc Rồng Online</option><option value='785'> Kho Đồ Ngọc Rồng</option><option value='853'> Li&ecirc;n Qu&acirc;n Mobile</option><option value='854'> Sơ Sinh C&oacute; Đệ Tử</option><option value='902'> Thử vận may ngọc rồng gi&aacute; 20k</option><option value='896'> Thử vận may ngọc rồng gi&aacute; 50k</option><option value='897'> Thử vận may ngọc rồng gi&aacute; 100k</option><option value='903'> Thử Vận May Li&ecirc;n Qu&acirc;n Mobile 20k</option><option value='898'> Thử vận may ninja 100k</option><option value='912'> Ninja School Online ss</option><option value='780'> Thử vận may cấp 4</option><option value='779'> Thử vậy may cấp 3</option><option value='778'> Thử vận may cấp 2</option><option value='777'> Thử vận may cấp 1</option><option value='772'> Pubg Mobile</option><option value='773'> Thử vận may Pubg Mobile</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-lg-3 m--margin-bottom-10-tablet-and-mobile">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text">Từ</span></div>
                                        <input type="text" class="form-control m-input datetimepicker" id="started_at" name="started_at" value="" placeholder="Thời gian bắt đầu" autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-lg-3 m--margin-bottom-10-tablet-and-mobile">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text">Đến</span></div>
                                        <input type="text" class="form-control m-input datetimepicker" id="ended_at" name="ended_at" value="" placeholder="Thời gian kết thúc" autocomplete="off">
                                    </div>
                                </div>

                                <div class="col-lg-3 m--margin-bottom-10-tablet-and-mobile">
                                    <button type="submit" class="btn btn-brand m-btn m-btn--icon" id="m_search">
                                    <span>
                                        <i class="btn btn-primary">
                                        <span>Tìm kiếm</span>
                                    </i>
                                    </span>
                                    </button>
                                    <a href="/admin/lichsuban" class="btn btn-danger m-btn m-btn--icon" id="m_search">
                                    <span>
                                        <i class="la la-refresh"></i>
                                        <span>Tất cả</span>
                                    </span>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </form>
                    
                </div>