			<!-- SITE CONTENT
=========================================================================== -->
<div id="site-content">
    <div id="main">
        
        <section class="breadcrumbs">
<div class="container">
<ul class="breadcrumbss">					
<li class="home">
    <a  href="/" ><span >Trang chủ</span></a>						
    <span class="xo">/</span>
</li>

<li>
    <a  href="/account" ><span >Tài khoản</span></a>
    <span class="xo">/</span>
</li>

<li><strong ><span>Đơn hàng #1010</span></strong></li>


</ul>
</div>
</section>
        
        <div id="content">

<section class="login page_order_account margin-top-20">
<div class="container">
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 top_order_title">
        <h1 class="title-headding order-headding">Đơn hàng</h1>				
        <span class="note order_date"><i>Ngày tạo &mdash; 06/ 09/ 2020</i>
            <a class="color_main" href="/account"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;Quay lại trang tài khoản</a>
        </span>
        

    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 body_order">
        <div id="order_payment" class="span6 box-address margin-top-20">
            <div class="box-header">
                <h2 class="title-head">Địa chỉ Giao Hàng </h2>
                <p class="order-p">
                    <span class="note">Trạng thái thanh toán:</span> 
                    <i i class="status_pending">
                        
                        Chưa thanh toán
                        
                    </i>
                </p>
            </div>
            <div class="address note">
                
                <p><i class="fa fa-user"></i> trịnh bá năng</p>
                
                <p><i class="fa fa-map-marker"></i> 
                    , xóm tròn tốt động chương mỹ hà nội, Thị xã Sơn Tây
                    , xóm tròn tốt động chương mỹ hà nội, Thị xã Sơn Tây
                </p>
                
                <p><i class="fa fa-phone"> </i>0378679210</p>
                
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 body_order">
        
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 body_order">

        <div class="page-header" style="margin-top: 20px !important">
            <h4>Trạng thái đơn hàng</h4>
        </div>
        <p><strong>Trạng thái thanh toán:</strong>  open</p>

    </div>
<div class="col-xs-12 col-sm-12 col-md-12 content_order">
        <div class="table-responsive-block margin-top-20">
            <table id="order_details" class="table table-cart">
                <thead class="thead-default theborder">
                    <tr>
                        <th>Sản phẩm</th>
                        <th>Mã sản phẩm</th>
                        <th>Giá</th>
                        <th>Số lượng</th>
                        <th>Tổng</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr>
                        <td class="link" data-title="Tên">
                            <a class="price" href="#"></a>								
                        </td>
                        <td data-title="Mã SKU"></td>
                        <td data-title="Giá" class="numeric"></td>
                        <td data-title="Số lượng" class="numeric"></td>
                        <td data-title="Tổng" class="numeric"></td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>			
    <div class="col-md-12 oder_total_monney">				
        <table class="table  totalorders">					
            <tfoot>
                <tr class="order_summary ">
                    <td class="fix-width-200" colspan="">Phí vận chuyển:</td>

                    <td class="total money right">Tính khi thanh toán</td>
                </tr>
                <tr class="order_summary order_total">
                    <td class="fix-width-200">Tổng tiền:</td>								
                    <td class="right"><strong> </strong></td>
                </tr>   
            </tfoot>
        </table>
    </div>

</div>
</div>
</section>
</div>
    </div>
</div>
<!-- /SITE CONTENT -->
